

<div style="margin: 2.5%; background-color: gainsboro; display: flex;">
	<div style="flex-direction: column;">
		<h1> LED Test Light </h1>
		<div>
			<div [style.background-color]="lightOn?'blue': 'red'" class="zone">
				<div style="text-align: center">
					<h3 style="color: white"> Blue<br/>Auxiliary </h3>
				</div>
				<div>
					<input type="button" (click)="light(true	)" value="ON"  [disabled]="lightOn"	>
					<input type="button" (click)="light(false	)" value="OFF" [disabled]="!lightOn">
				</div>
			</div>
		</div>
		<hr/>
		<h1> POD 1 </h1>
		<div>
			<div [style.background-color]="sprinklerOn[0][0]?'green': 'red'" class="zone">
				<div style="text-align: center">
					<h3 style="color: white"> Zone<br/>#1 </h3>
				</div>
				<div>
					<input type="button" (click)="sprinkler(0,0,true	)" value="ON"	[disabled]="sprinklerOn[0][0]"	>
					<input type="button" (click)="sprinkler(0,0,false	)" value="OFF"	[disabled]="!sprinklerOn[0][0]"	>
				</div>
			</div>
			<hr/>
			<div [style.background-color]="sprinklerOn[0][1]?'green': 'red'" class="zone">
				<div style="text-align: center">
					<h3 style="color: white"> Zone<br/>#2 </h3>
				</div>
				<div>
					<input type="button" (click)="sprinkler(0,1,true	)" value="ON"	[disabled]="sprinklerOn[0][1]"	>
					<input type="button" (click)="sprinkler(0,1,false	)" value="OFF"	[disabled]="!sprinklerOn[0][1]"	>
				</div>
			</div>
			<hr/>
			<div [style.background-color]="sprinklerOn[0][2]?'green': 'red'" class="zone">
				<div style="text-align: center">
					<h3 style="color: white"> Zone<br/>#3 </h3>
				</div>
				<div>
					<input type="button" (click)="sprinkler(0,2,true	)" value="ON"	[disabled]="sprinklerOn[0][2]"	>
					<input type="button" (click)="sprinkler(0,2,false	)" value="OFF"	[disabled]="!sprinklerOn[0][2]"	>
				</div>
			</div>
			<hr/>
			<div [style.background-color]="sprinklerOn[0][3]?'green': 'red'" class="zone">
				<div style="text-align: center">
					<h3 style="color: white"> Zone<br/>#4 </h3>
				</div>
				<div>
					<input type="button" (click)="sprinkler(0,3,true	)" value="ON"	[disabled]="sprinklerOn[0][3]"	>
					<input type="button" (click)="sprinkler(0,3,false	)" value="OFF"	[disabled]="!sprinklerOn[0][3]"	>
				</div>
			</div>
		</div>
		<hr/>
		<h1> POD 2 </h1>
		<div>
			<div [style.background-color]="sprinklerOn[1][0]?'green': 'red'" class="zone">
				<div style="text-align: center">
					<h3 style="color: white"> Zone<br/>#5 </h3>
				</div>
				<div>
					<input type="button" (click)="sprinkler(1,0,true	)" value="ON"	[disabled]="sprinklerOn[1][0]"	>
					<input type="button" (click)="sprinkler(1,0,false	)" value="OFF"	[disabled]="!sprinklerOn[1][0]"	>
				</div>
			</div>
			<hr/>
			<div [style.background-color]="sprinklerOn[1][1]?'green': 'red'" class="zone">
				<div style="text-align: center">
					<h3 style="color: white"> Zone<br/>#6 </h3>
				</div>
				<div>
					<input type="button" (click)="sprinkler(1,1,true	)" value="ON"	[disabled]="sprinklerOn[1][1]"	>
					<input type="button" (click)="sprinkler(1,1,false	)" value="OFF"	[disabled]="!sprinklerOn[1][1]"	>
				</div>
			</div>
			<hr/>
			<div [style.background-color]="sprinklerOn[1][2]?'green': 'red'" class="zone">
				<div style="text-align: center">
					<h3 style="color: white"> Zone<br/>#7 </h3>
				</div>
				<div>
					<input type="button" (click)="sprinkler(1,2,true	)" value="ON"	[disabled]="sprinklerOn[1][2]"	>
					<input type="button" (click)="sprinkler(1,2,false	)" value="OFF"	[disabled]="!sprinklerOn[1][2]"	>
				</div>
			</div>
			<hr/>
			<div [style.background-color]="sprinklerOn[1][3]?'green': 'red'" class="zone">
				<div style="text-align: center">
					<h3 style="color: white"> Zone<br/>#8 </h3>
				</div>
				<div>
					<input type="button" (click)="sprinkler(1,3,true	)" value="ON"	[disabled]="sprinklerOn[1][3]"	>
					<input type="button" (click)="sprinkler(1,3,false	)" value="OFF"	[disabled]="!sprinklerOn[1][3]"	>
				</div>
			</div>
		</div>
	</div>
</div>
