

input[type="button"]
	display: inline-block
	width: 64px
	padding: 2px
	margin-bottom: 4px

div
	padding: 2.5%
	display: flex
	justify-content: left
	.zone
		justify-content: space-evenly

h3
	margin: auto
